$primary: #ee7e5c;
$bs-link-color: #fffefe;
$bs-link-hover-color: #f79577;
$secondary-hover: #1546e6;
$secondary: #0731bb;
$textColor: #fffefe;
$backgroundColor: #fffefe;
$footer-background: #4A4A4D;
$form-background: #757578;
$darkTextColor: #1d1d1e;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-width: 1280px;

@mixin mobile{
    @media (min-width:#{$mobile-width}){
        @content
    }
}
@mixin tablet{
    @media (min-width:#{$tablet-width}){
        @content
    }
}
@mixin desktop{
    @media (min-width:#{$desktop-width}){
        @content
    }
}
@mixin large{
    @media (min-width:#{$large-width}){
        @content
    }
}