.footer{
    width: 100vw;
    border-top: 1px solid rgba($footer-background, 0.5);
    
    .footer-content{
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @include tablet{
            flex-direction: row;
            justify-content: space-around;
            gap: 15px;
        }

        a{
            color: $footer-background;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
        p{
            margin-bottom: 5px;
        }
        p:first-of-type{
            margin-top: 10px;
            text-transform: uppercase;
            font-family: "Lora";
            font-weight: bold;
        }
        .signup-form form{
            display: flex;
            flex-direction: column;

            input{
                max-width: 250px;
                margin: 5px 0;
                border-radius: 5px;
                padding: 5px;
                border: 1px solid rgba($footer-background, 0.5);
            }
            input[type="submit"]{
                background-color: $bs-link-hover-color;
                border: none;
                color: #fffefe;
                border-radius: 5px;
                padding: 5px 0;
                text-transform: uppercase;
            }
        }
    }
    
    .footer-social-icons{
        display: flex;
        gap:10px;

        i{
            color: $footer-background;

            &:hover{
                color: $bs-link-hover-color;
            }
        }
    }
}
