.footer{
    width: 100vw;
    height: 50px;
    background-color: $secondary-hover;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .footer-social{
        display: flex;
        gap: 10px;
        cursor: pointer;
    }
}