.showcase-heading{
    text-align: center;
    margin: 20px 0;
    
    h1{
        color: $secondary;
    }
}
.loading-indicator{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
    
.showcase{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
    @include tablet{
        margin-bottom: 30px;
    }

    .container{
        width: 85%;

        @include desktop{
            width: 80%;
        }
    }
    .slider{
        display: flex;
        justify-content: center;
        
        @include tablet{
            transition: all 1s ease-out;
        }
    }

    p{
        font-size: 14px;

        @include tablet{
            font-size: 16px;     
        }
    }

    .fa-angle-left, .fa-angle-right{
        position: absolute;
        top: 100px;
        cursor: pointer;
    }

    .fa-angle-left, .fa-angle-right{
        color: $bs-link-hover-color;
        opacity: .7;
        font-size: 4em;
    }

    .fa-angle-left{
        left: 10px;

        @include tablet{
            left: 30px;
        }
        @include desktop{
            left: 100px;
        }
    }

    .fa-angle-right{
        right: 10px;

        @include tablet{
            right: 30px;
        }
        @include desktop{
            right: 100px;
        }
    }
    .card{
        border-radius: 10px;
        margin: 0 10px;
        flex: 1;
      
        @include tablet{
            max-width: 50%;
        }
        .card-img-top{
           
            object-fit: cover;

            @include tablet{
                /* height: 45vh; */
            }
            @include desktop{
                /* height: 50vh; */
            }
            
        }
        .card-body{
            display: flex;
            flex-direction: column;
            
            
            .card-text{
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;

                &.long:hover{
                    padding: 5px 10px;
                    -webkit-line-clamp: unset;
                    position: absolute;
                    left: 0;
                    z-index: 10;
                    background-color: $form-background;
                    color: $textColor; 
                }
            }
            .btn{
                margin: 15px 0;
            }
        }
        
        h2{
            font-size: 20px;
            
            @include tablet{
                font-size: 22px;    
            }
        }

        h3{
            font-size: 19px;
            font-weight: 600;

            @include tablet{
                font-size: 21px;     
            }
        }
        .guestBidLink{
            color: $bs-link-color;
            border-radius: 10px;
            text-decoration: none; 
            font-family: "Roboto Flex", sans-serif;
            
            @include tablet{
                font-size: 22px;
            }
        }
        .bidLink{
            font-family: "Roboto Flex", sans-serif;
            color: $bs-link-color;
            text-transform: uppercase;
            border: none;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: .1rem;
            font-style: oblique;
            border-radius: 5px;
            padding: 10px 0;
            text-decoration: none;

            
        } 
        .deleteLink{
            background-color: $primary;
            float: right;
            color: $textColor;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            text-decoration: none;
        } 
        
    }
    
}

.listing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

     
    h2{
        color: $secondary;
    }

    .message-container{
        padding: 10px 0;

        .warning{
            background-color: $primary;
            color: $textColor;
            padding: 5px;
        }
        .success{
            background-color: $secondary;
            color: $textColor;
            padding: 5px;
        }
    }
    .inputForm{
        width: 400px;
        border-radius: 10px;
        border: 1px solid $form-background;
        padding: 15px;
        
        @include tablet{
            font-size: 20px;
        }
        .form-left, .form-right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 20px;
        }
        .inputDesc, .inputTitle, .inputEndsAt{
            font-size: 16px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid gray;
            padding-left: 10px;
            margin: 5px 0;

            @include tablet{
                font-size: 20px;
            }
        }
        input:focus{
            outline: none;
        }
        .submitButton{
            height: 50px;
            border-radius: 10px;
            border: none;
            background-color: $primary;
            color: $textColor;
            font-weight: 500;
            font-size: 19px;
            text-transform: uppercase;
            cursor: pointer;
            margin: 15px 0 10px 0;
        
            &:hover{
                background-color: $bs-link-hover-color;
            }

            @include tablet{
                font-size: 21px;
                margin-bottom: 15px;
            }

        }
        .submitButton:focus{
            outline:none;
        }
    }
}