*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    background-color: $backgroundColor;
    overflow-x: hidden;

    h1,h2,h3,h4,h5,h6{
        font-family: Lora, Georgia, 'Times New Roman', Times, serif;
    }
    h1{
        color: $secondary;
    }
    a{
        color: $secondary;
    }
    a:hover{
        color: $bs-link-hover-color;
    }
    p{
        color: $darkTextColor;
    }
    .warning{
        background-color: $primary;
        color: $textColor;
        padding: 10px;
        width: 300px;
    }
    .success{
        background-color: $secondary;
        color: $textColor;
        padding: 10px;
        width: 300px;
    }
}
.wrapper{
    min-height: calc(100vh - 300px);
    margin: 30px 0;
}
