.profile-wrapper{
    max-width: 1160px;
    margin: auto;
    padding: 0 20px;
}
.profile, .bid{
    margin: 20px 0 60px 0;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    
    @include tablet{
        flex-direction: row;
    }
    .profileRight, .profileLeft, .bidLeft, .bidRight{
        display: flex;
        flex-direction: column;


        @include tablet{
            flex: 1;
        }
    }
    .profileLeft, .bidLeft{
       /*  width: 40%; */
        
        /* @include tablet{
            position: relative;
            left: 10%;
            transform: translateX(-10%);
            
        }
        @include desktop{
            position: relative;
            left: 15%;
            transform: translateX(-15%);
        }
        @include large{
            position: relative;
            left: 20%;
            transform: translateX(-20%);
        } */
        
    }
    .bidDesc{
        word-wrap: break-word;
        
    }
    .profileRight{

    }
    .profileAvatar{
        width: 40px;

    }
    .profileHeader, .bidHeader{
        color: $secondary;
        padding-bottom: 10px;
    }
    .profileDesc{
        font-size: 18px;
    }
    .profileUser, .profileCredits, .bidDesc, .bidItem, .bidsOnItem{
        background-color: $textColor;
        box-decoration-break: clone;
    }
    .profileBox, .bidBox{
        height: 300px;
        width: 250px;
        padding: 20px;
        color: $textColor;
        background-color: $form-background;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        @include tablet{
            width: 300px;
        }
        @include desktop{
            width: 400px;
        }
    }
    .bid-message-container{
        padding: 10px 0;

    }
    .editButton, .bidButton{
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color:$secondary;
        color: $textColor;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        margin-top: 10px;

        &:hover{
            background-color:$secondary-hover;
        }
    } 
    .editButton{
        background-color: $secondary;
        text-transform: uppercase;
    }
        .bidButton{
        background: $secondary;
        color: $textColor;
        text-transform: uppercase;
        padding: 8px 12px;
        border-radius: 10px;
        text-decoration: none;

            &:hover{
                background-color: $secondary-hover;
            }
        }
}    

