$primary: #f3a086;
$primary-hover: #db9079;
$secondary: #1546e6;
$secondary-hover: #133fcf;
$textColor: #fffefe;
$backgroundColor: #eee;
 

$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet{
    @media (min-width:#{$tablet-width}){
        @content
    }
}
@mixin desktop{
    @media (min-width:#{$desktop-width}){
        @content
    }
}