.profile, .bid{
    width: 100vw;
    height: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;

    @include tablet{
        flex-direction: row;
    }
    .wrapper{
        width: 70%;
        height: 70%;
       
        @include tablet{
            display: flex;
        }
    }
    .profileRight, .profileLeft, .bidLeft, .bidRight{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }
    .profileAvatar{
       width: 40px;

    }
    .profileHeader, .bidHeader{
        color: $primary;
        padding-bottom: 10px;
    }
    .profileDesc{
        font-size: 18px;
    }
    .profileUser, .profileCredits, .bidDesc, .bidItem, .bidsOnItem{
        background-color: $textColor;
        padding: 3px 6px;
        box-decoration-break: clone;
    }
    .profileBox, .bidBox{
        height: 300px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .bid-message-container{
        padding: 10px 0;

        .warning{
            background-color: $primary;
            color: $textColor;
            padding: 5px;
        }
    }
    .editButton, .bidButton{
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color:$secondary;
        color: $textColor;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        margin-top: 10px;
    }
    
}
